In [51]:
#Import dependencies and setup
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests
import os
import time

In [53]:
 executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
 browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [33]:
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

In [34]:
# Parse Results HTML with BeautifulSoup
html = browser.html
news_soup = BeautifulSoup(html, "html.parser")
slide_element = news_soup.select_one("ul.item_list li.slide")

In [35]:
slide_element.find("div", class_="content_title")

In [36]:
# Scrape the Latest News Title
latest_news = slide_element.find("div", class_="content_title").get_text()
print(latest_news)

NASA's Perseverance Rover Successfully Cores Its First Rock

In [37]:
# Scrape the Latest Paragraph Text
latest_paragraph = slide_element.find("div", class_="article_teaser_body").get_text()
print(latest_paragraph)

Perseverance will obtain additional imagery of the sample tube before potentially completing the process of collecting its first scientifically-selected Mars sample.

# JPL Mars Space Images - Featured Image

In [58]:
space_images_url = 'https://spaceimages-mars.com/'

html = browser.html
soup = bs(html, 'html.parser')

In [59]:
browser.visit(space_images_url)
time.sleep(2)

In [60]:
relative_image_path = soup.find_all('img')[1]["src"]
feature_img = space_images_url + relative_image_path

In [61]:
feature_img

'https://spaceimages-mars.com/image/featured/mars2.jpg'

# Mars Facts

In [62]:
mars_facts_url = 'https://galaxyfacts-mars.com/'

In [63]:
mars_df = pd.read_html(mars_facts_url, header=0)[0]

mars_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [65]:
mars_html = mars_df.to_html()

mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [67]:
astrogeology_link ='https://marshemispheres.com/'
html = browser.html
soup = bs(html, 'html.parser')

In [68]:
browser.visit(astrogeology_link)
time.sleep(2)

In [70]:
hemisphere_image_urls = []
results = soup.find_all('div', class_='item')


for result in results:
    hemisphere_url = 'https://marshemispheres.com/'
    title = result.find('h3').text
    img_url = result.find('img')[0]['src']
    
    hemisphere_data = {
        "title": title,
        "img_url": img_url
    }
    
    hemisphere_image_urls.append(hemisphere_data)
    
    print('-----------------')
    print(title)
    print(img_url)

In [71]:
#Image URLS capture
hemisphere_image_urls

[]

In [72]:
for result in results:
    print(result)

In [73]:
results

[]

In [74]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]